.header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    &_nav {
        display: none;
        &_active {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: right;
        }
        &_link {
            padding: 0 0.5rem;
            text-decoration: none;
        }
    }
    &_title {
        height: 100%;
        width: 85%;
        line-height: 0;
    }
}